:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
}

.todoContainer {
	background-color: aquamarine;
}

.taskCompleted {
	text-decoration: line-through;
}

.listItem {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: cadetblue;
	border-radius: 10px;
	padding: 10px;
	margin: 20px;
}

.checkBtn {
	height: 20px;
	width: 20px;
}

.deleteBtn {
	height: 20px;
	width: 20px;
	text-align: center;
	/* margin: 10px; */
}
